<div class="jumbotron text-center">
    <h2>Location Tracking</h2>

    <br/>
    <div class="form-horizontal form-group form-group-lg row">
       <h4>Select the option for listing the restaurants.</h4> 

       <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-4 align">
        
        {{#radio-button
          value="currentDominosLoc"
          groupValue=list
          changed="listToggled"}}
          Get Dominos List nearby {{currentCity}} location 
        {{/radio-button}}
        <br>
        {{#radio-button
          value="currentLoc"
          groupValue=list
          changed="listToggled"}}
          Get Restaurant List nearby {{currentCity}} location 
        {{/radio-button}}
        <br>
        {{#radio-button
          value="enteredCity"
          groupValue=list
          changed="listToggled"}}
          Get Restaurant List with city
         {{/radio-button}}

      </div>
       <div class="form-horizontal form-group form-group-lg row">
          {{#if disp}}
          <div class="col-xs-10 col-md-2 col-md-offset-4">
          
          {{input type="text" value=restaurant class="form-control" autofocus="autofocus" placeholder="Restaurant"}}
          </div>
          {{#if textDisp}}
          <div class="col-xs-10 col-md-2">
          {{input type="text" value=city class="form-control" autofocus="autofocus" placeholder="City" enter="getLocationList"}}
          </div>
          {{/if}}
          <div class="col-xs-10 col-md-2">
              <button type="button" class="btn btn-primary btn-lg btn-block" {{action 'getLocationList' city}} >Display List</button>
          </div>
          {{/if}}
        </div>
              
    </div>
    {{#if myData.results}}

    <div class="row">
      <div class="col-md-6">
      <h3>Location list</h3>
        {{#if userLocation}}
            {{places-lists list=myList.results}}
        	
        {{else}}
            {{places-lists list=myData.results}}
        	
        {{/if}}
      </div>

      <div class="col-md-6">
      <h3>Location Map</h3>
        
        {{#g-map lat=lat lng=lng zoom=12 as |context|}}
          {{#if userLocation}}
            {{#each myList.results as |pr|}}
              {{#g-map-marker context lat=pr.geometry.location.lat lng=pr.geometry.location.lng as |markerContext|}}
                {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
                  {{pr.vicinity}}{{pr.formatted_address}}
                {{/g-map-infowindow}}
              {{/g-map-marker}}

            {{/each}}
          {{else}}
            {{#each myData.results as |pr|}}
              {{#g-map-marker context lat=pr.geometry.location.lat lng=pr.geometry.location.lng as |markerContext|}}
                {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
                  {{pr.vicinity}}{{pr.formatted_address}}
                {{/g-map-infowindow}}
              {{/g-map-marker}}
            {{/each}}

          {{/if}}
        {{/g-map}}
      </div>
    </div>
    {{else}}
    <div class="loading-message">
        Loading data, please wait.
        <div class="loader"></div>
    </div>
    {{/if}}

    <br/><br/>
</div>